name: osg_plugin
description: A new Flutter plugin project.
version: 0.0.1
homepage: 

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  plugin:
    platforms:
      macos:
        pluginClass: OsgPlugin
      windows:
        pluginClass: OsgPluginCApi
